<div id="organizer-section">
  <h1>Start a Battle</h1>

  <section>

    <player-queue></player-queue>
    <div *ngIf="!playerQueue"><img src="../assets/disco-ball.png" alt=""></div>
  </section>


  <div id="next-button"><button (click)="nextPlayer()">Next Player</button></div>

  <div id="start-stop">
    <div *ngIf="showstart"  id="start-button"><button (click)="startCompetition()">START</button></div>
    <div *ngIf="!showstop" id="stop-button"><button (click)="stopComp()">STOP</button></div>
  </div>
 
</div>
