<div id="organizer-section">
  <h1>Start a Battle</h1>

  <section>

      <div>
          <p *ngIf="playerReady"> {{ currentPlayer.name }} </p>
          <p *ngIf="nextReady"> {{ nextCompetitor.name }} </p> 
      
        </div>
    <player-queue></player-queue>
  </section>


  <div id="next-button"><button (click)="nextPlayer()">Next Player</button></div>

  <div id="start-stop">
    <div *ngIf="showstart"  id="start-button"><button (click)="startCompetition()">START</button></div>
    <div *ngIf="!showstop" id="stop-button"><button (click)="stopComp()">STOP</button></div>
  </div>
 
</div>
