

#organizer-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  height: 100%;
}

.current-next-player {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 40px 80px 40px;
}

.player-thumb, .comp-name {
  align-self: center;
  justify-self: center;
}

.comp-name {
  height: 40px;
}

.player-thumb img {
  height: 85px;
}

#organizer-section > * {
  align-self: center;
  justify-self: center;
}

#start-stop {
  display: flex;
}

#next-button button, #start-button button, #stop-button button {
  border-radius: 20px;
  /* background-color: coral; */
  display: inline-block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 10px 0;
}

#start-button button, #stop-button button {
  width: 150px;
  margin: 0 10px;
}

#start-button button {
  
  background-color: #00b8b8;
}

#stop-button button {

  background-color: red;
}


#next-button button {
  width: 200px;

}
