<div id="organizer-section">
  <h1>Start a Battle</h1>

  <img src="../assets/disco-ball.png" alt="" class="discoball">

  <section>
    
    <!-- <img src="../assets/disco-ball.png" alt="" class="discoball" *ngIf="!playerQueue"> -->
    <player-queue></player-queue>
    
  </section>



  <div id="next-button"><button (click)="nextPlayer()">Next Player</button></div>

  <div id="start-stop">
    <div *ngIf="showstart"  id="start-button"><button (click)="startCompetition()">START</button></div>
    <div *ngIf="!showstop" id="stop-button"><button (click)="stopComp()">STOP</button></div>
  </div>
 
  
</div>
