<h2>Scores</h2>

<div id="results" *ngFor="let competitor of competitors" [hidden]="gameOver">
  <div class="result-thumbnail"></div>
  <div class="result-chart">

    <p>Style: {{ competitor.avg_style }}</p>
    <p>Skill: {{ competitor.avg_skill }}</p>
    <p>Originality: {{ competitor.avg_originality }}</p>
    <p>Effort: {{ competitor.avg_effort }}</p>
  

  </div>
  <div class="result-avg"> 
    <span class="average">{{ competitor.overall_avg }} </span> 
    <span class="over-avg">Overall Average</span>
  </div>
  <div class="result-name">
    {{ competitor.name }}
  </div>
  <!-- <div class="result-total">Total Score: {{ competitor.total }}</div> -->
</div>


<div *ngIf="gameOver">
  <p>{{ gameOver }}</p>
  <p>View the final results here: ___</p>
</div>
