<h2>Scores</h2>

<!-- <div *ngFor="let player of allPlayerScores">  -->


  <div *ngIf="gameOver">
    <p>{{ gameOver }}</p>
    <p>View the final results here: ___</p>
  </div>
  <div *ngFor="let player of allPlayerScores" *ngIf="playerReady" [hidden]="gameOver">
    <p>Player: {{ player.player_name }}</p>
    <p>Style: {{ player.style }}</p>
    <p>Skill: {{ player.skill }}</p>
    <p>Originality: {{ player.originality }}</p>
    <p>Effort: {{ player.effort }}</p>
    <p>Total Score: {{ player.totalscore }}</p>=
  </div>


 <!-- </div>  -->
