form {
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column; 
}

/* .style, .skill, .originality, .effort{
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
    margin-top: 25px;
    
} */

mat-slider{
    height: 10px;
}

.scale{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

form label {

    text-align: center !important;
}

button {
    width: 310px;
    /* background-color: coral; */
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 22px;
    margin-bottom: 10px;
    height: 50px;

}


