<!-- <h2>Player Queue</h2> -->

<!-- <div class="decknext"> -->
<!-- <p class="deck">On deck</p>
<p class="next">Live</p>
</div>
<div class="competitors"> -->

    <section>
        <div *ngIf="playerReady" class="current-next-player" @flyInOut>
          <div class="comp-name">ON DECK</div>
          <div class="comp-name">LIVE</div>
          <div *ngIf="nextReady" class="player-thumb">
            <img src="{{ nextCompetitor.avatar }}" alt="" />
          </div>
          <div *ngIf="playerReady" class="player-thumb">
            <img src="{{ currentPlayer.avatar }}" alt="" />
          </div>
          <div class="comp-name">
            <p *ngIf="nextReady">{{ nextCompetitor.name }}</p>
          </div>
          <div class="comp-name">
            <p *ngIf="playerReady">{{ currentPlayer.name }}</p>
          </div>
        </div>
      </section>


    <!-- <section>

        <div>
            <p *ngIf="playerReady"> {{ currentPlayer.name }} </p>
            <p *ngIf="nextReady"> {{ nextCompetitor.name }} </p> 
        
          </div>
      <player-queue></player-queue>
    </section> -->



  <!-- <div>
    <div class="avatar">
      <img src="../assets/dancing.png" alt="">

    </div>
    <p *ngIf="playerReady"> {{ currentPlayer.name }} </p>
    <p *ngIf="nextReady"> {{ nextCompetitor.name }} </p> 

  </div> -->



  <!-- <div class="playercontainer" *ngFor="let competitor of currentCompetitors; index as i" @flyInOut>
    <div class="avatar">
      <img src="../assets/dancing.png" alt="">

    </div>
    <p @flyInOut>{{ competitor.player_name }}</p>
  </div> -->
<!-- </div> -->
