
 
 .playercontainer{
     display: flex;
     flex-direction: column;
     width: 250px;
 }
 
 .competitors{
    display: flex;
    height: 175px;
    width: 280px;
    overflow: hidden;
    
 }

p {
    font-size: 16px;
    display: flex;
    transform: translateX(26px);
    
}

.avatar {
    border-radius: 50%;
    background-color: gray;
    height: 100px;
    width: 100px;
    transform: translateX(-27px);
    margin-right: 27px;
    margin-left: 25px;
    
}

.decknext {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    transform: translateX(-10px);
    
}

.next{
    transform:translateX(102px);
}

h2{
   text-align: center;
}



