
#competitor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  height: 215px;
  margin-top: 25px;
  display: grid;
  width: 300px;
 
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 100px, 30px, 100px, 30px;
  justify-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 30px;

}


button {
  width: 270px;
  border: none;
  border-radius: 20px;
  color: white;
  margin-bottom: 15px;
  height: 50px;
  font-size: 22px;
  margin-bottom: 25px;
  justify-content: center;
  transform:translateX(25px);
}

form {
  margin-top: 10%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

}

input {
  height: 35px;
  width: 270px;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
  border: 1px solid grey;
  justify-content: center;
  
}

label {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

input[type="radio"] {
  transform: scale(.5);
}


h2 {
  transform: translateX(-10px);
}
