<div id="competitor">
  <form
    #nameForm="ngForm"
    (ngSubmit)="addNewCompetitor(nameForm)"
    [hidden]="gameOver"
  >
    <h2>Enter your name:</h2>
    <input type="text" ngModel name="name" />
    
    <section>
    <player-queue></player-queue>
    </section>
  
    <button>Join the Boogie Battle</button>
  </form>

  <div id="gameover" *ngIf="gameOver">
    <p>Thank you for participating in the Boogie Battle!</p>
    <a class="end-link" routerLink="/results" routerLinkActive="active"
      >View Scores</a
    >
  </div>
</div>
