

<div id="competitor" [hidden]="gameOver">
<form #nameForm="ngForm" (ngSubmit)="addNewCompetitor(nameForm)"  [hidden] ="nameSubmited">

 
  <h2>Enter your name:</h2>
  <input type="text" ngModel name="name">
  <section>

    <div>
      <img src="../assets/dancing.png" alt="">
      <input
      type="radio"
      name="avatar"
      ngModel
      value="../assets/dancing.png"
    />
    </div>

    <div>
      <img src="../assets/breakdance.png" alt="">
        <input
        type="radio"
        name="avatar"
        ngModel
        value="../assets/breakdance.png"
      />
    </div>

    



    <div *ngIf="playerQueue">
      <player-queue></player-queue>
     </div>

     <div *ngIf="!playerQueue"><img src="../assets/disco-ball.png" alt=""></div>

  </section>
  <button>Join the Boogie Battle </button>
</form> 



<div id="gameover" *ngIf="nameSubmited">
  <p>Thanks for joining the Boogie Down! Please wait your turn!</p>
</div>


 

</div>

<!-- <div id="competitor">
  <form
    #nameForm="ngForm"
    (ngSubmit)="addNewCompetitor(nameForm)"
    [hidden]="gameOver"
  >
    <h2>Enter your name:</h2>
    <input type="text" ngModel name="name" />
    
    <section>
    <player-queue></player-queue>
    </section>
  
    <button>Join the Boogie Battle</button>
  </form> -->


  <div id="gameover" *ngIf="gameOver">
    <p>Thank you for participating in the Boogie Battle!</p>

    <a class="end-link" routerLink="/results" routerLinkActive="active"
      >View Scores</a
    >
  </div>


